<div class="photo-container">
    <div class="introducing-box">
        <div>
            <img class="shadow-photo-section" src="./assets/img/shadows/shadows_photo section.png">
            <img class="portrait" src="./assets/img/portrait/sidePortrait3_noBackground.png">
        </div>

        <app-introducing></app-introducing>
    </div>


    <div>
        <img class="vector" src="./assets/img/vector/vector.png">
    </div>


    <!--<div class="text-container">
        <p class="vertical f-size-64">I am </p>
        <div>
            <p class="f-size-90">Patrick Frantzen</p>
            <p class="f-size-58">FRONTEND DEVELOPER</p>
        </div>
    </div>-->


</div>