<div class="landingpage">
    <div class="portrait-area">
        <img src="./assets/img/shadows/shadows_photo section.png">
        <img class="portrait" src="./assets/img/portrait/sidePortrait_noBackground.jpg">

        <div class="text">
            <div class="text-container">
                <p class="vertical f-size-64">I am </p>
                <div class="text-container-right">
                    <p class="f-size-90">Patrick Frantzen</p>
                    <p class="f-size-58" [ngStyle]="{'color': '#9747FF'}">FRONTEND DEVELOPER</p>
                </div>
            </div>
            <button mat-raised-button>Let´s talk</button>
        </div>
    </div>



    <div class="social-media">
        <div class="social-media-left">
            <hr class="line">
            <img [ngStyle]="{'margin-left': '50px'}" src="/assets/img/social_buttons/github_default.png">
            <img [ngStyle]="{'margin-left': '50px'}" src="/assets/img/social_buttons/linkedin_default.png">
            <img [ngStyle]="{'margin-left': '50px'}" src="/assets/img/social_buttons/email_default.png">
            <p [ngStyle]="{'margin-left': '50px', 'font-size': '23px'}">patrickfrantzen@web.de</p>
        </div>

        <div class="social-media-right">
            <img src="/assets/img/goUp/arrow.png">
            <p [ngStyle]="{'font-size': '23px'}" class="vertical">Scroll down</p>
        </div>
    </div>
    <img class="vector" src="./assets/img/vector/vector.png">
</div>