.landingpage {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #141D2F;
    margin-bottom: 150px;
        p {
        margin:0,
    }
}

.portrait-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.portrait {
    position: absolute;
    top: -30px;
    left: 100px;
    height: 120%;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        position: absolute;
        top: 200px;
        padding: 25px 30px 25px 30px;
        background-color: #70E61C;
        color: white;
        font-weight: 400;
        font-size: 20px;
        z-index: 1;
        border-radius: 10px;
        transition-duration: 0.3s;
        transition-property: transform;

        &:hover {
            transform: scale(1.2);
            background-color: #9747FF;
        }
    }
}

.text-container {
    display: flex;
    align-items: center;
    height: 200px;
}

.text-container-right { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 40px;
    
}

.vertical {
    font-weight: 400;
    writing-mode:vertical-rl;
    transform: rotate(180deg);
}

.social-media {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    margin-top: 100px;

    .social-media-left {
        display: flex;
        align-items: center;

        img {
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .social-media-right {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        transform: rotate(180deg);

       
    }

    .line {
        border: 2px solid #9747FF;
        height: 1px;
        width: 100px;
        background-color: #9747FF;
        border-radius: 10px;
    }

    p {
        text-align: center;
    }
}

.vector {
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 480px;
}



