.header {
    position: sticky;
    top: 0;
    height: 50px;
    background-color: #141D2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    z-index: 1;

    span {
        margin-left: 50px;
        font-size: 32px;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 23px;
    }
}