.shadow-container {
    position: absolute;
    top: 750px;
    right: 0;
    overflow: hidden;
}

.purple-shadow {
    position: relative;
    right: -55%;
    overflow: hidden;
}

.aboutme-container {
    display: flex;
    margin-left: 100px;
    margin-bottom: 200px;

    .aboutme-text {
        z-index: 1;
        width: 50%;

        h1 {
            font-size: 90px;
            font-weight: 700;
            margin-bottom: 50px;
        }
    }
}

.text {
    display: flex;
    margin-bottom: 40px;
}

.container-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        margin-right: 30px;
    }
}


.aboutme-picture {
    z-index: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;

    img {
        height: 450px;
        width: 450px;
        object-fit: cover;
        border: 4px solid #70E61C;
        border-radius: 100%;
    }

    hr {
        width: 100%;
        background-color: #70E61C;
        border: 2px solid #70E61C;
    }
}