
<div class="shadow-container">
    <img class="purple-shadow" src="./assets/img/shadows/Purple shadow_aboutme section.png">
</div>

<div class="aboutme-container">

    <div class="aboutme-text">
        <h1>About me</h1>
        <span class="text"> 
            Hi, I am a Front-end developer based in Lüneburg, Germany. I started my education early 2022 at Developer Academy.
            With a lot of passion and endurance I learned how to code while being in a full-time job and a father of two.
            On this page, you can learn a few things about me and have a look at successfully developed projects.
        </span>
        <div class="container-text">
            <img src="./assets/img/icons_desktop/bulb_default.png">
            <span class="text">
                My name is Patrick Frantzen. I am 34 years old, married and father of two children. I´ve got an Bachelor of Engeeniering and a Master of Science
                as a food technologist. Up to now I worked mainly as a quality manager and I know how important it is to maintain quality parameters through the whole process.
            </span>
        </div>

        <div class="container-text">
            <img src="./assets/img/icons_desktop/puzzle_default.png">
            <span class="text">
                I created my first webpage with 16 years old but lost track of it. During the corona crisis and renovation of my house, I discovered my interest in programming again.
                For me, programming is digital handcraft. With the right tools and motivation you can create something new and amazing. This can be a new room for the kids or a new app.
                Since the beginning of my journey as a front-end developer, I am amazed of the process to create something from scratch to the finished project.
            </span>

        </div>
    </div>

    <div class="aboutme-picture">
        <img src="./assets/img/portrait/closeUp_noBackground.png">
        <hr>
    </div>
</div>







